@import "../styles/variables.module.scss";

.header {
    background-color: $primary-color;
    color: #fff;
    text-align: center;
    min-height: 40px;
    line-height: 40px;
    font-size: 22px;
    font-family: 'Great Vibes'; // 沒有就吃預設字型就好
}

.main {
    padding: 12px;
}