@import "../styles/variables.module.scss";

.material-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 6px;
    h2 {
        font-weight: bold;
    }

    .icon-wrap {
        display: flex;
        flex-direction: column;
    }
}
